<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>現場一覧</title>

</head>

<body>

  <!-- ===== ヘッダー ===== -->
  <header>

    <!-- 上段 -->
    <div class="header-top">

      <!-- 左：ロゴ -->
      <div class="logo-area">

        <a href="home.html">

          <img src="icon.png" alt="ロゴ" class="logo-img">

        </a>

      </div>

      <!-- 右：ユーザー -->
      <div class="user-area">

		<div>
			<!-- ログイン中の場合 -->
			<span th:if="${session.loginUser != null}">
				<span th:text="${session.loginUser.username}">ゲスト</span>さん
					<form th:action="@{/logout}" method="post" class="logout-form">
						<button type="submit">ログアウト</button>
					</form>
				</span>
			<!-- 未ログインの場合 -->
				<span th:unless="${session.loginUser != null}">
					<a th:href="@{/login}">ログイン</a>
				</span>
		</div>
      </div>

    </div>

    <!-- 下段 -->
    <div class="page-title-bar">

      <a th:href="@{/dailyreport/list}">
        日報一覧
      </a>

      <a th:href="@{/safetyinspection/list}">
        安全点検一覧
      </a>

      <a th:href="@{/trouble/list}">
        トラブル一覧
      </a>

    </div>

  </header>

  <h1 style="margin-bottom: 24px;">現場一覧</h1>

  <!-- 優先度高 -->
  <div class="section">

    <div class="section-title high">
      優先度高
    </div>

    <div class="site-list">

		
		
	<div th:each="site : ${site}">	
      <div class="site-card high">

        <div>
          <a th:href="@{/portal/{id}(id=${site.siteId})}" class="site-name">
			<td th:text="${site.siteName}"></td>
          </a>
        </div>

        <div class="status">

          <div class="status-item">
            <a th:href="@{/dailyreport/{id}(id=${site.siteId})}">日報確認</a>
            <span class="checked">✔ 確認済</span>
          </div>

          <div class="status-item">
            <a th:href="@{/safetyinspection/{id}(id=${site.siteId})}">安全点検確認</a>
            <span class="unchecked">✖ 未提出</span>
          </div>

        </div>

        <div class="trouble-section">

          <div class="trouble-title">
            ⚠ トラブル報告
          </div>

          <div class="trouble-item">
            <a href="troubledetail.html">
              ・足場資材の搬入遅延
            </a>
          </div>

        </div>

      </div>

	  
	  
<!--      <div class="site-card high">-->

<!--        <div>-->
<!--          <a href="portal.html" class="site-name">-->
<!--            岡崎ショッピングモール建設-->
<!--          </a>-->
<!--        </div>-->

<!--        <div class="status">-->

<!--          <div class="status-item">-->
<!--            <a href="dailyreportdetail.html">日報確認</a>-->
<!--            <span class="checked">✔ 確認済</span>-->
<!--          </div>-->

<!--          <div class="status-item">-->
<!--            <a href="safetycheckdetail.html">安全点検確認</a>-->
<!--            <span class="unchecked">✖ 未提出</span>-->
<!--          </div>-->

<!--        </div>-->

<!--        <div class="trouble-section">-->

<!--          <div class="trouble-title">-->
<!--            ⚠ トラブル報告-->
<!--          </div>-->

<!--          <div class="trouble-item">-->
<!--            <a href="troubledetail.html">-->
<!--              ・足場資材の搬入遅延-->
<!--            </a>-->
<!--          </div>-->

<!--          <div class="trouble-item">-->
<!--            <a href="troubledetail.html">-->
<!--              ・安全帯未着用者を確認-->
<!--            </a>-->
<!--          </div>-->

<!--        </div>-->

<!--      </div>-->


  <!-- 優先度中 -->
  <div class="section">

    <div class="section-title medium">
      優先度中
    </div>

    <div class="site-list">

<!--      <div class="site-card high">-->

<!--        <div>-->
<!--          <a href="portal.html" class="site-name">-->
<!--            横浜倉庫点検-->
<!--          </a>-->
<!--        </div>-->

<!--        <div class="status">-->

<!--          <div class="status-item">-->
<!--            <a href="daily_report.html">日報確認</a>-->
<!--            <span class="unchecked">✖ 未確認</span>-->
<!--          </div>-->

<!--          <div class="status-item">-->
<!--            <a href="daily_report.html">安全点検確認</a>-->
<!--            <span class="checked">✔ 確認済</span>-->
<!--          </div>-->

<!--        </div>-->

<!--        <div class="trouble-section">-->

<!--          <div class="trouble-title">-->
<!--            ⚠ トラブル報告-->
<!--          </div>-->

<!--          <div class="trouble-item">-->
<!--            <a href="troubledetail.html">-->
<!--              ・機材バッテリー不足-->
<!--            </a>-->
<!--          </div>-->

<!--        </div>-->

<!--      </div>-->

<!--    </div>-->

<!--  </div>-->

  <!-- 優先度低 -->
  <div class="section">

    <div class="section-title low">
      優先度低
    </div>

  </div>

  <!-- トラブルなし -->
  <div class="section">

    <div class="section-title none">
      トラブルなし
    </div>

    <div class="site-list">

<!--      <div class="site-card none">-->

<!--        <div>-->
<!--          <a href="portal.html" class="site-name">-->
<!--            渋谷マンション改修-->
<!--          </a>-->
<!--        </div>-->

<!--        <div class="status">-->

<!--          <div class="status-item">-->
<!--            <a href="daily_report.html">日報確認</a>-->
<!--            <span class="checked">✔ 確認済</span>-->
<!--          </div>-->

<!--          <div class="status-item">-->
<!--            <a href="daily_report.html">安全点検確認</a>-->
<!--            <span class="checked">✔ 確認済</span>-->
<!--          </div>-->

<!--        </div>-->

<!--        <div class="no-trouble">-->
<!--          ✔ トラブルなし-->
<!--        </div>-->

<!--      </div>-->

<!--      <div class="site-card high">-->

<!--        <div>-->
<!--          <a href="portal.html" class="site-name">-->
<!--            池袋外壁補修-->
<!--          </a>-->
<!--        </div>-->

<!--        <div class="status">-->

<!--          <div class="status-item">-->
<!--            <a href="daily_report.html">日報確認</a>-->
<!--            <span class="checked">✔ 確認済</span>-->
<!--          </div>-->

<!--          <div class="status-item">-->
<!--            <a href="daily_report.html">安全点検確認</a>-->
<!--            <span class="unchecked">✖ 未確認</span>-->
<!--          </div>-->

<!--        </div>-->

<!--        <div class="no-trouble">-->
<!--          ✔ トラブルなし-->
<!--        </div>-->

<!--      </div>-->

<!--    </div>-->

  </div>

</body>

</html>