<!DOCTYPE html>
<html lang="ja">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>安全点検編集</title>

	<style>

	</style>
</head>

<body>

	<!-- =========================
       ヘッダー
  ========================= -->

	<header>

		<!-- 上段 -->
		<div class="header-top">

			<!-- 左 -->
			<div class="logo-area">

				<a href="portal.html">

					<img src="icon.png" alt="ロゴ" class="logo-img">

				</a>

			</div>

			<!-- 右 -->
			<div class="user-area">

				<div>
					ログインユーザ：田中 太郎
				</div>

				<a href="logout.html" class="logout-btn">
					ログアウト
				</a>

			</div>

		</div>

		<!-- 下段 -->
		<div class="page-title-bar">
			安全点検編集
		</div>

	</header>

	<!-- =========================
       コンテンツ
  ========================= -->

	<div class="container">
		<!-- 基本情報 -->
		<div class="section">
			<div class="section-title">
				点検情報
			</div>

			<div class="summary-box">
				<div>
					登録日：
					<span th:text="${#temporals.format(safety.sCreatedAt,'yyyy/MM/dd')}">
					</span>
				</div>
				<div>
					現場名：
					<span th:text="${safety.site.siteName}">
					</span>
				</div>
			</div>
		</div>

		<!-- サマリー -->
		<div class="section">

			<div class="section-title">
				点検結果サマリー
			</div>

			<div class="summary-box">

				<!--				<div class="summary-title">-->
				<!--					確認内容-->
				<!--				</div>-->

				点検項目：7件<br>

				良好：
				<span th:text="${
		      (safety.scaffolding == 0 ? 1 : 0) +
		      (safety.protectingOpenings == 0 ? 1 : 0) +
		      (safety.safetyHarness == 0 ? 1 : 0) +
		      (safety.equipmentInspection == 0 ? 1 : 0) +
		      (safety.fireExtinguisher == 0 ? 1 : 0) +
		      (safety.organization == 0 ? 1 : 0) +
		      (safety.electricalInsulation == 0 ? 1 : 0)
		  }"></span>件
				<br>

				不備：
				<span th:text="${
		      (safety.scaffolding == 1 ? 1 : 0) +
		      (safety.protectingOpenings == 1 ? 1 : 0) +
		      (safety.safetyHarness == 1 ? 1 : 0) +
		      (safety.equipmentInspection == 1 ? 1 : 0) +
		      (safety.fireExtinguisher == 1 ? 1 : 0) +
		      (safety.organization == 1 ? 1 : 0) +
		      (safety.electricalInsulation == 1 ? 1 : 0)
		  }"></span>件

			</div>
		</div>

		<!-- 点検項目 -->
		<div class="section">

			<div class="section-title">
				点検項目編集
			</div>

			<form th:action="@{/safetyinspection/{id}/edit/confirmed}" 
					method="post" 
					th:object="${safety}">

				<input type="hidden" th:field="*{safetyId}">

				<table class="table">

					<thead>
						<tr>
							<th>点検項目</th>
							<th>判定</th>
						</tr>
					</thead>

					<tbody>

						<tr>
							<td>足場（手すり・幅木・滑り止め）</td>
							<td>
								<select th:field="*{scaffolding}">
									<option value="0">良好</option>
									<option value="1">不備</option>
								</select>
							</td>
						</tr>

						<tr>
							<td>開口部養生</td>
							<td>
								<select th:field="*{protectingOpenings}">
									<option value="0">良好</option>
									<option value="1">不備</option>
								</select>
							</td>
						</tr>

						<tr>
							<td>高所作業の安全帯使用</td>
							<td>
								<select th:field="*{safetyHarness}">
									<option value="0">良好</option>
									<option value="1">不備</option>
								</select>
							</td>
						</tr>

						<tr>
							<td>重機点検記録</td>
							<td>
								<select th:field="*{equipmentInspection}">
									<option value="0">良好</option>
									<option value="1">不備</option>
								</select>
							</td>
						</tr>

						<tr>
							<td>火気使用時の消火器配置</td>
							<td>
								<select th:field="*{fireExtinguisher}">
									<option value="0">良好</option>
									<option value="1">不備</option>
								</select>
							</td>
						</tr>

						<tr>
							<td>整理整頓（つまずきリスク）</td>
							<td>
								<select th:field="*{organization}">
									<option value="0">良好</option>
									<option value="1">不備</option>
								</select>
							</td>
						</tr>

						<tr>
							<td>仮設電気の絶縁</td>
							<td>
								<select th:field="*{electricalInsulation}">
									<option value="0">良好</option>
									<option value="1">不備</option>
								</select>
							</td>
						</tr>

					</tbody>

				</table>

				<!-- 点検写真 -->
				<div class="section">

					<div class="section-title">
						点検写真編集
					</div>

					<div class="item">

						<div class="label">
							点検写真アップロード
						</div>

						<!-- 現在の画像表示 -->
						<div th:if="${safety.photo != null}">
							<img th:src="@{${safety.photo}}" width="300">
						</div>

						<input type="file" name="photoFile" accept="image/*">

					</div>

				</div>

				<!-- ボタン -->
				<div class="btn-area">

					<button type="button" class="btn btn-gray"
						th:onclick="|location.href='@{/safetyinspection/{id}(id=${safety.safetyId})}'|">
						キャンセル
					</button>

					<button type="submit" class="btn">
						確認
					</button>

				</div>

			</form>
		</div>

</body>

</html>