<!DOCTYPE html>
<html lang="ja">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>トラブル一覧</title>
	<link rel="stylesheet" th:href="@{/css/trouble/troublelist.css}" />

	<style>

	</style>
</head>

<body>

	<!-- ===== ヘッダー ===== -->

	<header>

		<div class="header-top">

			<!-- 左：ロゴ -->
			<div class="logo-area">
				<a th:href="@{/homesite}">
					<img th:src="@{/images/icon.png}" alt="ロゴ" class="logo-img">
				</a>
			</div>

			<!-- 右：ユーザ -->
			<div class="user-area">

				<div>
					ログインユーザ：田中 太郎
				</div>

				<a href="logout.html" class="logout-btn">
					ログアウト
				</a>

			</div>

		</div>

		<!-- 下段タイトル -->
		<div class="page-title-bar">
			トラブル一覧
		</div>

	</header>

	<!-- ===== メイン ===== -->

	<main>

		<!-- ===== 検索 ===== -->

		<form th:action="@{/trouble/list}" th:object="${troubleSearchForm}" method="get">

			<div class="search-area">

				<div class="search-item">
					<label class="search-label">日付</label>
					<input type="date" th:field="*{occurredDate}" class="search-input">
				</div>

				<div class="search-item">
					<label class="search-label">現場名</label>
					<input type="text" th:field="*{siteName}" class="search-input">
				</div>

				<div class="search-item">
					<label class="search-label">優先度</label>

					<select th:field="*{priority}" class="search-select">
						<option value="">すべて</option>
						<option value="3">高</option>
						<option value="2">中</option>
						<option value="1">低</option>
					</select>
				</div>

				<div class="search-item">
					<label class="search-label">種別</label>

					<select th:field="*{troubleType}" class="search-select">
						<option value="">すべて</option>
						<option value="1">転倒</option>
						<option value="2">機械故障</option>
						<option value="3">資材不足</option>
						<option value="4">その他</option>
					</select>
				</div>

				<div class="search-item">
					<label class="search-label">状況</label>

					<select th:field="*{statusFlag}" class="search-select">
						<option value="">すべて</option>
						<option value="0">未対応</option>
						<option value="1">対応中</option>
						<option value="2">完了</option>
					</select>
				</div>

				<div class="search-btn-area">

					<button type="submit" class="search-btn">
						検索
					</button>

					<button type="button" th:onclick="|location.href='@{/trouble/list}'|" class="search-btn">
						リセット
					</button>

				</div>

			</div>

		</form>

		<!-- ===== テーブル ===== -->

		<table class="issue-table">

			<thead>
				<tr>
					<th>登録日</th>
					<th>現場名</th>
					<th>優先度</th>
					<th>種別</th>
					<th>一言</th>
					<th>状況</th>
					<th>詳細</th>
				</tr>
			</thead>

			<tbody>
				<tr th:if="${#lists.isEmpty(troubleList)}">
					<td colspan="7"> 該当するトラブル情報はありません </td>
				</tr>
				<tr th:each="trouble : ${troubleList}">

					<td th:text="${#temporals.format(trouble.occurredAt,'yyyy/MM/dd')}"></td>

					<td th:text="${trouble.site.siteName}"></td>

					<td>
						<span class="badge high" th:if="${trouble.priority == 0}"> なし </span>
						<span class="badge high" th:if="${trouble.priority == 3}"> 高 </span>
						<span class="badge middle" th:if="${trouble.priority == 2}"> 中 </span>
						<span class="badge low" th:if="${trouble.priority == 1}"> 低 </span>
					</td>

					<td>
						<span th:if="${trouble.troubleType == 1}">事故</span>
						<span th:if="${trouble.troubleType == 2}">資材不足</span>
						<span th:if="${trouble.troubleType == 3}">納品遅れ</span>
						<span th:if="${trouble.troubleType == 4}">工程遅延</span>
						<span th:if="${trouble.troubleType == 5}">その他</span>
					</td>

					<td th:text="${trouble.overview}"></td>

					<td>
						<span th:if="${trouble.tStatusFlag == 0}"> 未対応 </span>
						<span th:if="${trouble.tStatusFlag == 1}"> 対応中 </span>
						<span th:if="${trouble.tStatusFlag == 2}"> 完了 </span>
					</td>

					<td> <a class="detail-btn" th:href="@{/trouble/{id}(id=${trouble.troubleId})}">
							詳細
						</a>
					</td>
				</tr>
			</tbody>

		</table>

	</main>

	<!-- ===== 左下ステータス ===== -->

	<!--	<div class="status-bubble">-->

	<!--		<div class="status-item">-->
	<!--			<span class="status-title">日報</span>-->
	<!--			<span class="done">✔ 作成済み</span>-->
	<!--		</div>-->

	<!--		<div class="status-item">-->
	<!--			<span class="status-title">安全点検</span>-->
	<!--			<span class="not-done blinking">-->
	<!--				⚠ 未作成-->
	<!--			</span>-->
	<!--		</div>-->

	<!--	</div>-->

</body>

</html>