<!DOCTYPE html>
<html lang="ja">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>トラブル詳細</title>

	<style>

	</style>
</head>

<body>

	<!-- =========================
       ヘッダー
  ========================= -->

	<header>

		<!-- 上段 -->
		<div class="header-top">

			<!-- 左 -->
			<div class="logo-area">

				<a href="list.html">

					<img src="icon.png" alt="ロゴ" class="logo-img">

				</a>

			</div>

			<!-- 右 -->
			<div class="user-area">

				<span class="user-name">
					ログインユーザ：田中 太郎
				</span>

				<button class="logout-btn">
					ログアウト
				</button>

			</div>

		</div>

		<!-- 下段 -->
		<div class="page-title-bar">
			トラブル詳細
		</div>

	</header>

	<!-- コンテナ -->
	<div class="container">

		<!-- サマリー -->
		<div class="section">

			<div class="section-title">
				登録内容サマリー
			</div>

			<div class="summary-box">

				<div class="summary-title">
					入力内容
				</div>

				登録されたトラブル内容を確認してください。<br>
				問題がなければ「確認完了」を押してください。

			</div>

		</div>

		<!-- トラブル情報 -->
		<div class="section">

			<div class="section-title">
				トラブル情報
			</div>

			<div class="item">

				<div class="label">
					緊急度
				</div>

				<div class="value">

					<span class="badge high" th:if="${trouble.priority == 3}">
						高
					</span>

					<span class="badge middle" th:if="${trouble.priority == 2}">
						中
					</span>

					<span class="badge low" th:if="${trouble.priority == 1}">
						低
					</span>
					<span class="badge low" th:if="${trouble.priority == 0}">
						対応済
					</span>

				</div>

			</div>

			<div class="item">

				<div class="label">
					現場名
				</div>

				<div class="value" th:text="${trouble.site.siteName}">
				</div>

			</div>

			<div class="item">

				<div class="label">
					トラブル種別
				</div>

				<div class="value">

					<span th:if="${trouble.troubleType == 1}">
						事故
					</span>

					<span th:if="${trouble.troubleType == 2}">
						資材不足
					</span>

					<span th:if="${trouble.troubleType == 3}">
						納品遅れ
					</span>

					<span th:if="${trouble.troubleType == 4}">
						工程遅延
					</span>

					<span th:if="${trouble.troubleType == 5}">
						その他
					</span>

				</div>

			</div>

			<div class="item">
				<div class="label">
					発生日
				</div>
				<div class="value" th:text="${#temporals.format(trouble.occurredAt,'yyyy/MM/dd HH:mm')}">
				</div>
			</div>

			<div class="item">

				<div class="label">
					一言で表す
				</div>
				<div class="value" th:text="${trouble.overview}">
				</div>

			</div>

		</div>

		<!-- 詳細 -->
		<div class="section">

			<div class="section-title">
				詳細内容
			</div>

			<div class="value" th:text="${trouble.detail}">
			</div>

		</div>

		<!-- 確認ステータス -->
		<div class="section">

			<div class="section-title">
				確認ステータス
			</div>

			<div class="value">
				登録内容に問題がないことを確認してください。
				必要に応じて管理者へ共有されます。
			</div>

		</div>

		<!-- ボタン -->
		<div class="btn-area">

			<!-- 対応状況を進める -->
			<form th:action="@{/trouble/status/{id}(id=${trouble.troubleId})}" method="post">

				<button type="submit" th:if="${trouble.tStatusFlag == 0}">
					確認完了
				</button>

				<button type="submit" th:if="${trouble.tStatusFlag == 1}">
					対応完了
				</button>

			</form>

			<!-- 対応状況を戻す -->
			<!--			<form th:if="${trouble.tStatusFlag > 0}" th:action="@{/trouble/status/back/{id}(id=${trouble.troubleId})}"-->
			<!--				method="post">-->

			<!--				<button type="submit">-->
			<!--					一段階戻す-->
			<!--				</button>-->

			<!--			</form>-->

			<button type="button" class="btn btn-gray"
				th:onclick="|location.href='@{/trouble/{id}/edit(id=${trouble.troubleId})}'|">
				編集
			</button>

			<button type="button" class="btn btn-gray" th:onclick="|location.href='@{/trouble/list}'|">
				トラブル一覧へ
			</button>

		</div>

	</div>

</body>

</html>